.project {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Submission */
.submission {
  width: 50%;
  border: solid 1px black;
  padding: 20px;
}

.generalInformation {
  display: flex;
  flex-direction: column;
}

.resume {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 1000px;
  border: solid 1px black;
}

.header {
  height: 20%;
  border: solid 1px black;
}

.container {
  display: flex;
  height: 80%;
}

.personal {
  width: 25%;
  border-left: solid 1px black;
}

/* Experience */

.experience {
  width: 75%;
}

.add-experience {
  display: flex;
  flex-direction: column;
}